<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>

    </aside>

  </div>
<% else %>
  <div class="center hero-unit">
    <h1>Welcome to our MeetUp Groups</h1>

    <h2>
     Join Us and Enjoy
    </h2>
    <%= link_to "Sign in!", signin_path,
                class: "btn btn-large btn-primary" %> OR
    <%= link_to "Sign up!", signup_path,
                                class: "btn btn-large btn-primary" %>
  </div>


<% end %>